.benchmarks-viewport.neo-viewport {
    .benchmark-toolbar {
        padding: 1em;

        .neo-button {
            margin-bottom: 1em;
        }
    }

    .benchmark-controls {
        padding: 1em;

        .neo-textfield,
        .spinner {
            margin-left: 1em;
        }
    }

    .spinner {
        animation    : spin 1s linear infinite;
        border       : 4px solid #444;
        border-top   : 4px solid #61dafbaa;
        border-radius: 50%;
        width        : 24px;
        height       : 24px;
    }

    .heavy-calc-output {
        margin-left: 1em;
        font-weight: bold;
    }

    .main-thread-counter {
        margin-left: 1em;
        font-weight: bold;
        min-width: 8.2em;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
